body {
  color: #333;
  font-family: "Comic Sans MS", cursive, sans-serif;
  height: 100vh;
  margin: 0;
  text-align: center;
  background: linear-gradient(to right, #faf1fd, #d6bbdc);
}

.register-page {
  display: flex;
  height: 100vh;
  justify-content: space-between;
}

.left-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.left-side .background-image {
  width: 100%;
  height: 100%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  object-fit: cover;
}
.right-side {
  margin: 150px;
  padding: 30px;
  border-radius: 15px;
}

.register-container {
  flex: 1;
  padding: 40px;
  margin: auto;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-size: 3rem;
  color: #300c39;
  text-shadow: 5px 5px 1px #e2cae2;
  margin-bottom: 20px;
}

.register-form {
  width: 100%;
  max-width: 400px;
}

.input-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.input-wrapper label {
  flex: 1;
}

.input-wrapper input {
  flex: 2;
  padding: 10px;
  border: 2px solid #bc8fc7;
  border-radius: 10px;
  outline: none;
  transition: border-color 0.3s;
}

.input-wrapper input:focus {
  border-color: #c9698b;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #bc8fc7;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #c9698b;
}
